---
import { getCollection } from "astro:content";
import { format } from "date-fns";
import Hero from "../../components/Hero.astro";
import Intro from "../../components/Intro.astro";
import heroPhoto from "../../images/hero-photo-1.jpg";
import Layout from "../../layouts/Layout.astro";
import { generateRelativeUrl } from "../../utils";

const lang = "en";
const allEvents = await getCollection(
  "events",
  ({ id, data: { published } }) => {
    return id.startsWith(lang) && published;
  }
);
---

<Layout title="Homepage | Backbeat">
  <Hero image={heroPhoto} alt="Danse au Parc des Bastions" />
  <Intro lang={lang} />

  <section class="mx-auto max-w-prose w-full">
    <h1 class="text-gradient">Prochains événements</h1>
    <ul>
      {
        allEvents.map((event) => {
          const eventUrl = generateRelativeUrl(`/events/${event.slug}/`);
          return (
            <li>
              <a href={eventUrl}>
                {format(new Date(event.data.date), "dd.MM.yyyy")}
                {event.data.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
