---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import heroPhoto from "../images/hero-photo-1.jpg";
import whiteLogoImage from "../images/logo-white.png";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);

const classesUrl = getRelativeLocaleUrl(
  lang,
  "fr" === lang ? "cours" : "courses",
);

const workshopsUrl = getRelativeLocaleUrl(
  lang,
  "fr" === lang ? "ateliers" : "workshops",
);

const practiceUrl = getRelativeLocaleUrl(
  lang,
  "fr" === lang ? "pratique" : "practice",
);

const eventsUrl = getRelativeLocaleUrl(
  lang,
  "fr" === lang ? "événements" : "events",
);
---

<section class="w-full lg:max-h-[640px] overflow-hidden mb-8 relative">
  <Image
    src={heroPhoto}
    alt={"fr" === lang
      ? "Danse au Parc des Bastions"
      : "Dancing at Parc des Bastions"}
    class="w-full min-h-[540px] mt-[-120px] object-none lg:object-cover object-left"
  />

  <div
    class="w-full absolute top-0 left-0 h-full p-6 flex flex-col md:flex-row items-center md:items-start justify-center md:justify-start"
  >
    <div class="bg-black/40 md:bg-transparent p-3 mb-4 md:p-0 md:mb-0">
      <Image src={whiteLogoImage} alt="Our logo" class="h-32 w-auto" />
    </div>

    <div class="w-auto">
      <div class="mb-4 md:mb-0">
        <h1 class="text-4xl text-white text-center font-bold px-4">
          Ensemble, en swing!
        </h1>
        <hr class="h-1 my-2 bg-white border-0" />
      </div>

      <div class="w-full flex flex-row flex-wrap justify-center gap-2">
        <a
          class="bg-lime-800 hover:bg-lime-600 text-white text-lg text-yellow-500 py-2 px-4"
          href={classesUrl}
        >
          {t("courses.title")}
        </a>
        <a
          class="bg-rose-800 hover:bg-rose-600 text-white text-lg text-yellow-500 py-2 px-4"
          href={practiceUrl}
        >
          {t("practice.title")}
        </a>
        <a
          class="bg-amber-800 hover:bg-amber-600 text-white text-lg text-yellow-500 py-2 px-4"
          href={workshopsUrl}
        >
          {t("workshops.title")}
        </a>
        <a
          class="bg-sky-800 hover:bg-sky-600 text-white text-lg text-yellow-500 py-2 px-4"
          href={eventsUrl}
        >
          {t("events.title")}
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="absolute top-0 left-0 p-12">
  </div> -->
</section>
