---
import {
  Astronav,
  Dropdown,
  DropdownItems,
  MenuIcon,
  MenuItems,
} from "astro-navbar";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

import { useTranslations } from "../i18n/utils";
import logoImage from "../images/logo.png";

const lang = Astro.currentLocale as "fr" | "en";
const t = useTranslations(lang);

const homeUrl = getRelativeLocaleUrl(lang, "");
const charterUrl = getRelativeLocaleUrl(lang, "association/charter");
const becomeMemberUrl = getRelativeLocaleUrl(lang, "association/become-member");
const lindyHopUrl = getRelativeLocaleUrl(lang, "association/lindy-hop");
const coursesUrl = getRelativeLocaleUrl(
  lang,
  "fr" === lang ? "cours" : "courses"
);
const eventsUrl = getRelativeLocaleUrl(
  lang,
  "fr" === lang ? "événements" : "events"
);
const conditionsUrl = getRelativeLocaleUrl(
  lang,
  "association/registration-conditions"
);
---

<header class="lg:flex p-2 gap-5 bg-sky-100">
  <Astronav>
    <div class="flex w-full justify-between">
      <div class="block flex items-center">
        <a href={homeUrl}>
          <Image src={logoImage} alt="Our logo" class="h-16 w-auto" />
        </a>
        <div class="text-xs text-stone-500 ml-4">
          {
            "fr" === lang ? (
              <>
                Danse
                <br />
                Musique
                <br />
                Communauté
                <br />
                Culture Swing à Genève
              </>
            ) : (
              <>
                Dance
                <br />
                Music
                <br />
                Community
                <br />
                Swing Culture in Geneva
              </>
            )
          }
        </div>
      </div>
      <div class="block flex items-center lg:hidden">
        <MenuIcon class="w-6 h-6 text-stone-800 hover:text-sky-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul
        class="flex flex-col p-3 gap-1 lg:flex-row lg:gap-6 lg:items-center lg:pr-6 whitespace-nowrap"
      >
        <li>
          <a class="text-stone-800 hover:text-sky-800" href={homeUrl}
            >{t("nav.home")}</a
          >
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center text-stone-800 hover:text-sky-800">
              <span>{t("nav.association")}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="w-3 h-3 mt-0.5 group-open:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <DropdownItems class="relative">
              <div
                class="w-full lg:absolute lg:w-auto z-10 lg:right-0 origin-top-right"
              >
                <ul
                  class="lg:py-3 lg:bg-sky-100 lg:rounded-md lg:shadow lg:border lg:text-right"
                >
                  <li class="px-3 hover:bg-sky-50">
                    <a
                      class="py-2 text-stone-800 hover:text-sky-800"
                      href={charterUrl}
                    >
                      {t("nav.charte")}
                    </a>
                  </li>
                  <li class="px-3 hover:bg-sky-50">
                    <a
                      class="py-2 text-stone-800 hover:text-sky-800"
                      href={becomeMemberUrl}
                    >
                      {t("nav.become-member")}
                    </a>
                  </li>
                  <li class="px-3 hover:bg-sky-50">
                    <a
                      class="py-2 text-stone-800 hover:text-sky-800"
                      href={lindyHopUrl}
                    >
                      {t("nav.lindy-hop")}
                    </a>
                  </li>
                  <li class="px-3 hover:bg-sky-50">
                    <a
                      class="py-2 text-stone-800 hover:text-sky-800"
                      href={conditionsUrl}
                    >
                      {t("nav.registration-conditions")}
                    </a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <a class="text-stone-800 hover:text-sky-800" href={coursesUrl}
            >{t("nav.courses")}</a
          >
        </li>
        <li>
          <a class="text-stone-800 hover:text-sky-800" href={eventsUrl}
            >{t("nav.events")}</a
          >
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
