---
import FontAwesomeIcon from "./icons/FontAwesomeIcon.astro";

interface Props {
  place: {
    name: string;
    address: string;
    mapLink?: string;
    commentsFr?: string;
    commentsEn?: string;
  };
  color?: string;
}

const lang = Astro.currentLocale as "fr" | "en";

const { place, color } = Astro.props;
---

<div class="bg-white p-4 rounded-lg shadow">
  <div class="flex flex-col">
    <div class="flex flex-row justify-between">
      <div>
        <h3 class="font-bold text-lg mb-2">{place.name}</h3>
        <p class="text-gray-600 mb-2 whitespace-pre-wrap">{place.address}</p>
      </div>
      {
        place.mapLink && (
          <div class="w-fit">
            <a href={place.mapLink}>
              <FontAwesomeIcon icon="location-dot" class="h-6" color={color} />
            </a>
          </div>
        )
      }
    </div>
    <div>
      {
        lang === "fr" && place.commentsFr && (
          <p class="text-gray-500 text-sm italic">{place.commentsFr}</p>
        )
      }
      {
        lang === "en" && place.commentsEn && (
          <p class="text-gray-500 text-sm italic">{place.commentsEn}</p>
        )
      }
    </div>
  </div>
</div>
