---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import dalcrozePhoto from "../../../images/courses/dalcroze.jpg";
import grottesPhoto from "../../../images/courses/grottes-1.jpg";
import whiteysPhoto from "../../../images/courses/whiteys-lindy-hoppers.jpg";
import Layout from "../../../layouts/Layout.astro";

const lang = Astro.currentLocale as "fr" | "en";
const weeklyCoursesUrl = getRelativeLocaleUrl(
  lang,
  "en" === lang ? "classes/weekly" : "cours/hebdomadaires",
);
const workshopsUrl = getRelativeLocaleUrl(
  lang,
  "en" === lang ? "classes/workshops" : "cours/ateliers",
);
---

<Layout title="Cours | Backbeat">
  <div class="flex items-center justify-center h-full">
    <div class="flex items-start max-h-[240px] overflow-hidden">
      <Image src={dalcrozePhoto} alt="Dalcroze" class="w-1/3 object-cover" />
      <Image
        src={whiteysPhoto}
        alt="Whitey's Lindy Hoppers"
        class="w-1/3 object-cover"
      />
      <Image
        src={grottesPhoto}
        alt="École des Grottes"
        class="w-1/3 object-cover"
      />
    </div>
  </div>

  <div class="w-full bg-sky-600 text-center text-white py-24">
    <div class="max-w-screen-lg mx-auto">
      <h1 class="text-4xl font-bold mb-6 oswald">
        Tu cherches des cours de danses jazz? Lindy Hop? Solo Jazz?
      </h1>
      <h2 class="text-xl mb-6">On te propose deux formats!</h2>

      <div class="flex flex-col md:flex-row md:flex-wrap md:justify-center">
        <a
          href={weeklyCoursesUrl}
          class="flex-1 md:basis-[45%] border-4 border-lime-500 m-6 p-6 bg-lime-800 hover:bg-lime-600"
        >
          <h1 class="text-2xl font-bold mb-4 oswald">Les cours hebdos</h1>
          <p class="text-left mb-3">
            Semaine après semaine, tisse des liens, écoute du jazz et apprend à
            danser le Lindy Hop. Fous-rires, chaleur humaine et apprentissage
            garanti!
          </p>
        </a>
        <a
          href={workshopsUrl}
          class="flex-1 md:basis-[45%] border-4 border-amber-500 m-6 p-4 bg-amber-800 hover:bg-amber-600"
        >
          <h1 class="text-2xl font-bold mb-4 oswald">Ateliers</h1>
          <p class="text-left mb-3">
            Des weekends intenses, de Lindy Hop et Solo Jazz, avec des profs
            invité.e.s de ouf!
          </p>
          <p class="text-left mb-3">
            Des cours adaptés à tous les niveaux, de débutant à expérimenté.
          </p>
          <p class="text-left mb-3">
            Une occasion en or pour découvrir, ou aller plus loin.
          </p>
        </a>
      </div>
    </div>
  </div>
</Layout>
